:root {
    --success : #28a745;
    --hover-success: #1e7e34;

    --danger: #dc3545;
    --hover-danger: #c82333;

    --info : #6246ea;
    --hover-info: #2c76b2;
    

    --public-dark: #0f0e17;
    --public-light: #fffffe;
    --public-light-creme:rgb(238, 238, 232);
    --public-highlight: #ff8906;



    --border-radius: 4px;
  }
