.admin-form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 1.5rem;

    // form {
    //   div {
    //     margin-bottom: 0.9rem;
    //   }
    // }
  }
  
  .admin-form-container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .admin-form-container label {
    display: block;
    margin-bottom: 5px;

  }

  .label {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .admin-form-container input[type="text"],
  .admin-form-container input[type="email"],
  .admin-form-container input[type="password"],
  .admin-form-container button[type="submit"],
  .admin-form-container input[type="number"],
  .admin-form-container textarea,
  .admin-form-container input[type="date"],
  .admin-form-container input[type="time"],
  .flatpickr-input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .admin-form-container button[type="submit"] {
    background-color: var(--success);
    color: white;
    cursor: pointer;
  }
  
  .admin-form-container button[type="submit"]:hover {
    background-color: var(--hover-success);
  }

.error {
  color: var(--danger);
  font-style: italic;

}

#preview {
  max-width: 200px;
  height: auto;
  display: none;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.switch {
  margin-top: 0.5rem;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.switch label {
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--danger);
  cursor: pointer;
}

.switch label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--admin-light);
  transition: transform 0.2s ease-in-out;
}

.switch input:checked + label {
  background-color: var(--admin-highlight);
}

.switch input:checked + label:before {
  transform: translateX(20px);
}

.flex-row-td {
  max-width: 100px;
}

.time_div {
  max-width: fit-content;
}

.fermeture-div {
  background-color: var(--admin-light-creme);
  color: var(--admin-dark);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  border-radius: var(--border-radius);

  .label-fermeture {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.switch-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



// FORM TABLE 
.form-table {
  margin-top: 1.5rem;
  display: table;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 0px; /* Espacement vertical entre les lignes */
}


.form-row {
  display: table-row;
  background-color: var(--admin-light-creme); /* Couleur de fond par défaut */

}

.form-row:nth-child(even) {
  background-color: var(--admin-gray); /* Couleur de fond des lignes paires */
}

.form-label,
.form-field {
  display: table-cell;
  padding: 1.5rem 10px;
  border: 1px solid #ccc; /* Bordure de chaque cellule */
  vertical-align: middle;

}

.form-field {
  width: 9%;
}

.form-label {
  color: var(--admin-dark);
  font-weight: bold;
}

.form-error {
  color: red;
}

.form-table input[type="text"],
.form-table input[type="email"],
.form-table input[type="password"],
.form-table button[type="submit"],
.form-table input[type="number"],
.form-table textarea,
.form-table input[type="date"],
.form-table input[type="time"],
.flatpickr-input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-options {
  background-color: var(--success);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 140px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 1.5rem;
}

.submit-options:hover {
  background-color: var(--hover-success);
}