.reservations-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .reservations-list {
    list-style-type: none;
    padding: 0;
  
    .reservations-item {
      margin-bottom: 20px;
  
      .reservations-date {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      .services-list {
        list-style-type: none;
        padding: 0;
  
        .service-item {
          margin-bottom: 10px;
          padding: 1rem 0.5rem;
          border-radius: var(--border-radius);


  
          .service-link {
            color: var(--admin-dark);
            display: inline;
            text-decoration: underline;
            text-transform: capitalize;
            font-size: 1.2rem;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
            }
          }


  
          .reservation-info {
            // margin-left: 20px;
            margin-top: 20px;
            list-style-type: none;
            padding: 0;
            
  
            .info-item {
              margin-bottom: 5px;
  
              .info-text {
                display: inline-block;
                margin-right: 5px;
              }
  
              .info-link {
                text-decoration: none;
  
                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .info-item-total {
                margin-bottom: 15px;
            }
          }
          .info-text-total {
            font-size: 1rem;
            font-weight: 500;
            a {
                padding-left: 0.3rem;
            }
        }

        }

        .service-item-midi {
            background-color: var(--hover-info);
            
            .info-item {
                .info-link {
                    color: var(--admin-light);
                  &:hover {
                    text-decoration: underline;
                  }
                }
            }

        }
  
        .service-item-soir {
            background-color: var(--admin-highlight);
            .info-item {
                .info-link {
                    color: var(--info);
                  &:hover {
                    text-decoration: underline;
                  }
                }
            }
        }
      }
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .page-item {
      display: inline-block;
      margin-right: 5px;
  
      .page-link {
        padding: 6px 12px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        color: #000;
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  
        &:hover {
          background-color: #337ab7;
          border-color: #337ab7;
          color: #fff;
        }
      }
  
      &.active .page-link {
        background-color: #337ab7;
        border-color: #337ab7;
        color: #fff;
      }
  
      &.disabled .page-link {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
  

.pill-couverts-restants {
  display: inline-block;
  padding: 0.3rem 0.4rem;
  border-radius: 40px;
  border: none;
  background-color: var(--hover-info);
  color: var(--admin-light);
}

.pill-places-restantes {
  display: inline-block;
  padding: 0.3rem 0.4rem;
  border-radius: 40px;
  border: none;
  background-color: var(--hover-success);
  color: var(--admin-light);
}