:root {
    --admin-dark: #0f0e17;
    --admin-light: #fffffe;
    --admin-highlight: #ff8906;

    --admin-secondary: #f25f4c;

    --font-button-size: 13px;

    --success : #28a745;
    --hover-success: #1e7e34;

    --danger: #dc3545;
    --hover-danger: #c82333;

    --info : #6246ea;
    --hover-info: #2c76b2;
  }